# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
imrb/obj/Debug/net6.0/project.razor.json
BackEnd/obj/Debug/net6.0/BackEnd.AssemblyInfo.cs
BackEnd/obj/Debug/net6.0/BackEnd.AssemblyInfo.cs
BackEnd/obj/Debug/net6.0/BackEnd.assets.cache
BackEnd/obj/Debug/net6.0/BackEnd.GeneratedMSBuildEditorConfig.editorconfig
BackEnd/obj/Debug/net6.0/project.razor.json
imrb/obj/Debug/net6.0/imrb.AssemblyInfo.cs
imrb/obj/Debug/net6.0/imrb.assets.cache
imrb/obj/Debug/net6.0/imrb.csproj.AssemblyReference.cache
imrb/obj/Debug/net6.0/imrb.GeneratedMSBuildEditorConfig.editorconfig
imrb/obj/Debug/net6.0/project.razor.json
