# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
imrb/obj/Debug/net6.0/project.razor.json
BackEnd/obj/Debug/net6.0/BackEnd.AssemblyInfo.cs
BackEnd/obj/Debug/net6.0/BackEnd.AssemblyInfo.cs
BackEnd/obj/Debug/net6.0/BackEnd.assets.cache
BackEnd/obj/Debug/net6.0/BackEnd.GeneratedMSBuildEditorConfig.editorconfig
BackEnd/obj/Debug/net6.0/project.razor.json
imrb/obj/Debug/net6.0/imrb.AssemblyInfo.cs
imrb/obj/Debug/net6.0/imrb.assets.cache
imrb/obj/Debug/net6.0/imrb.csproj.AssemblyReference.cache
imrb/obj/Debug/net6.0/imrb.GeneratedMSBuildEditorConfig.editorconfig
imrb/obj/Debug/net6.0/project.razor.json
*.2
.vs/ProjectEvaluation/imrb.metadata.v5.2
.vs/ProjectEvaluation/imrb.projects.v5.2
.vs/imrb/FileContentIndex/1f812e44-94e2-4c4f-aa72-40b4285202c8.vsidx
.vs/imrb/FileContentIndex/3bbd3bd9-2b20-4ede-95a4-e87ce84f3ab7.vsidx
.vs/imrb/FileContentIndex/9a160576-f502-495d-91c7-a77dbf9f3628.vsidx
.vs/imrb/v17/.futdcache.v2
*.vsidx
.vs/imrb/v17/.suo
*.dll
BackEnd/obj/BackEnd.csproj.nuget.dgspec.json
BackEnd/obj/BackEnd.csproj.nuget.g.props
*.cache
BackEnd/obj/Debug/net6.0/BackEnd.GeneratedMSBuildEditorConfig.editorconfig
*.pdb
BackEnd/obj/project.assets.json
imrb/obj/imrb.csproj.nuget.g.props
imrb/obj/imrb.csproj.nuget.dgspec.json
imrb/obj/project.assets.json
imrb/obj/project.nuget.cache
imrb/obj/project.assets.json
imrb/obj/imrb.csproj.nuget.g.props
imrb/obj/imrb.csproj.nuget.dgspec.json
imrb/obj/Debug/net6.0/staticwebassets.pack.json
imrb/obj/Debug/net6.0/staticwebassets.development.json
imrb/obj/Debug/net6.0/staticwebassets.build.json
imrb/obj/Debug/net6.0/refint/imrb.dll
imrb/obj/Debug/net6.0/ref/imrb.dll
imrb/obj/Debug/net6.0/project.razor.vs.json
imrb/obj/Debug/net6.0/imrb.pdb
imrb/obj/Debug/net6.0/imrb.genruntimeconfig.cache
imrb/obj/Debug/net6.0/imrb.dll
imrb/obj/Debug/net6.0/imrb.csproj.FileListAbsolute.txt
imrb/obj/Debug/net6.0/imrb.csproj.CoreCompileInputs.cache
imrb/obj/Debug/net6.0/imrb.csproj.AssemblyReference.cache
imrb/obj/Debug/net6.0/imrb.assets.cache
imrb/obj/Debug/net6.0/apphost.exe
imrb/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
imrb/bin/Debug/net6.0/imrb.staticwebassets.runtime.json
imrb/bin/Debug/net6.0/imrb.pdb
imrb/bin/Debug/net6.0/imrb.exe
imrb/bin/Debug/net6.0/imrb.dll
.vs/imrb/DesignTimeBuild/.dtbcache.v2
.vs/imrb/v17/.futdcache.v1
.vs/imrb/v17/.futdcache.v2
.vs/imrb/v17/.suo
.vs/ProjectEvaluation/imrb.metadata.v2
.vs/ProjectEvaluation/imrb.metadata.v5.2
.vs/ProjectEvaluation/imrb.projects.v2
.vs/ProjectEvaluation/imrb.projects.v5.2
BackEnd/bin/Debug/net6.0/BackEnd.dll
BackEnd/bin/Debug/net6.0/BackEnd.exe
BackEnd/bin/Debug/net6.0/BackEnd.pdb
*.v2
*.vsidx
*.v1
*.2
*.json
*.dll
BackEnd/bin/Debug/net6.0/BackEnd.pdb
