# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.vsidx
*.dll
*.cache
*.pdb
*.v2
*.v1
*.props
*.exe

.vs/imrb/v17/.suo
BackEnd/obj/BackEnd.csproj.nuget.dgspec.json
BackEnd/obj/project.assets.json
imrb/obj/project.assets.json
imrb/bin/Debug/net6.0/imrb.staticwebassets.runtime.json
imrb/obj/Debug/net6.0/imrb.csproj.FileListAbsolute.txt
imrb/obj/Debug/net6.0/staticwebassets.build.json
imrb/obj/Debug/net6.0/staticwebassets.development.json
imrb/obj/Debug/net6.0/staticwebassets.pack.json
imrb/obj/imrb.csproj.nuget.dgspec.json
imrb/obj/project.assets.json
*.2
*.user
*.lock
BackEnd/obj/Debug/net6.0/BackEnd.csproj.FileListAbsolute.txt
imrb/bin/Debug/net6.0/appsettings.Development.json
imrb/bin/Debug/net6.0/appsettings.json
imrb/bin/Debug/net6.0/imrb.runtimeconfig.json
imrb/obj/Debug/net6.0/project.razor.vs.json
imrb/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
imrb/Properties/launchSettings.json
