@{
    ViewData["Title"] = "ConfirmEmail";
}

<style>
    
</style>


<div class="container">
    <h1>Please Activate your Email</h1>
    <p>An activation email has been sent to the email address provided, please click the link in the email.</p>
    <hr>
</div>

