@{
    ViewData["Title"] = "Password Recovery";
}

<form action="Login/PasswordRecovery" method="post">
   @Html.ValidationSummary(true)  
  <div class="container">
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <button type="submit">Send Recovery Email</button>
  </div>
</form>

