@{
    ViewData["Title"] = "Password Reset";
}


<form action="/Register/CreateUser" method="post">
    @Html.AntiForgeryToken()
    <div class="container">
      <h1>Password Reset</h1>
      <p>Please enter a new password</p>

      @Html.ValidationSummary(true) 
      <hr>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" id="psw" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="password-repeat" id="psw-repeat" required>
      <p color="red" id="pswError" hidden>Passwords do not match</p>
    
      <hr>

      <button type="submit" class="registerbtn">Reset</button>
    </div>
</form>

<script>
    
    var pswRepeat = document.getElementById("psw-repeat")
    var psw = document.getElementById("psw")
    var pswError = document.getElementById("pswError")

    pswRepeat.addEventListener('input', (event) => {
        console.log(pswRepeat.value)
        console.log(psw.value)
        if (pswRepeat.value != psw.value){
            pswError.hidden = false;
        } else {
            pswError.hidden = true;
        }
    });

    psw.addEventListener('input', (event) => {
        if (pswRepeat.value = psw.value){
            pswError.hidden = true;
        }
    });
</script>
