/***********************************************************************
    Styles for Dashboard page
***********************************************************************/

/*
    React Search Modal settings
*/

.ReactModal__Overlay {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  transition: opacity 100ms ease-in-out;
  opacity: 1;
}

/***********************************************************************
    Main Container for dashboard
***********************************************************************/

#container {
  display: flex;
  flex-direction: column;
  place-items: center;
  transition: 200ms;
  width: 100%;
  height: 100vh;
  background-color: transparent;
}

#plate-img {
  position: absolute;
  transition: 300ms;
  top: -150px;
  left: -150px;
  opacity: 70%;
}

#dash-img {
  position: absolute;
  transition: 300ms;
  top: -50px;
  right: 0px;
  width: 700px;
  height: 846px;
  opacity: 70%;
}

@media only screen and (min-width: 1199px) {
  #plate-img {
    left: 20px;
  }
}
@media only screen and (max-width: 1000px) {
  #plate-img {
    width: 422.4px;
    height: 420px;
  }
}

/***********************************************************************
    Hero section
***********************************************************************/

.hero-container {
  width: 800px;
  height: 250px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s ease-in-out;
}

.hero-text {
  z-index: 0;
  width: 70%;
  top: 15%;
  border: solid black 2px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #fff;
}

.border-text {
  margin: 0;
  background-color: #fff;
  text-transform: uppercase;
  z-index: 1;
  font-size: 16px;
  color: #000;
  overflow: hidden;
  position: relative;
  top: -10px;
}

@media only screen and (max-width: 800px) {
  .hero-container {
    width: 350px;
  }
  .hero-text h1 {
    font-size: 1.8rem;
  }
}

/***********************************************************************
    Div that contains the search 'button'
***********************************************************************/

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search #search-bar {
  width: 680px;
  display: flex;
  padding: 8px 50px 9px;
  font-size: 24px;
  text-decoration: none;
  outline: none;
  transition: 400ms;
  background-color: transparent;
}

@media (max-width: 800px) {
  .search {
    width: 300px;
  }
}

.search #search-bar:hover,
.search #search-bar:focus {
  background-color: #bbbbbb;
  color: #fff;
  margin-bottom: 400px;
}

/***********************************************************************
    Placeholder text in search 'button'
***********************************************************************/

#search-button #search-placeholder {
  padding-left: 20px;
}

/***********************************************************************
    Designs for search modal
***********************************************************************/
.login-modal {
  position: absolute;
  width: 450px;
  height: 600px;
  left: 50%;
  top: 20%;
  margin-left: -150px;
  margin-top: -150px;
  border: solid black 2px;
  border-top: none;
  text-align: center;
  background: #fff;
  overflow: hidden;
}

.login-title {
  position: absolute;
  top: 20px;
  left: 85px;
  background-color: #fff;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 25px;
}

.line {
  position: absolute;
  height: 2px;
  width: 180px;
  background-color: #000;
}

.right-line {
  top: 20px;
  right: -90px;
}

.left-line {
  top: 20px;
  left: -90px;
}

/* Login container */

.login-container {
  margin-top: 150px;
}

.login-modal .input-container {
  margin-top: 40px;
  margin-left: 50px;
  display: flex;
  justify-content: left;
}

.input-container input {
  width: 350px;
  font-size: 25px;
  outline: none;
  border: none;
  border-bottom: 2px solid #919191;
}

.input-container input:hover,
.input-container input:focus {
  border-bottom: 2.5px solid #012030;
}

/* Submit button */

.button-container {
  position: absolute;
  width: 150px;
  right: 50px;
  top: 280px;
}

.button-container input {
  width: inherit;
  border: 2px solid #000;
  padding: 8px 20px 9px;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  transition: 100ms;
  background-color: transparent;
  margin-top: 40px;
  margin-bottom: 50px;
}

.button-container input:hover {
  background-color: #13678a;
  border: 2px solid #012030;
  color: #fff;
}

/* Register button */

.register-container {
  position: absolute;
  width: 150px;
  left: 50px;
  top: 280px;
}

.register-container button {
  width: inherit;
  border: 2px solid #000;
  padding: 8px 20px 9px;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  transition: 100ms;
  background-color: transparent;
  margin-top: 40px;
  margin-bottom: 50px;
}

.register-container button:hover {
  background-color: #13678a;
  border: 2px solid #012030;
  color: #fff;
}

/* Social Login title */

.social-login-title {
  position: absolute;
  bottom: 150px;
  left: 162px;
  font-size: 18px;
}

/* Social Login icons */

.social-login-container {
  position: absolute;
  bottom: 100px;
  left: 120px;
}

.social-login-container .icon {
  font-size: 30px;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
}

/* Register form */

.register-form {
  position: absolute;
  bottom: -200px;
  background: #fff;
  transition: 3ms ease-in;
}

.register-form a {
  top: 10px;
}

/***********************************************************************
    Dashboard feed container
***********************************************************************/

#dashboard-feed {
  justify-content: center;
}
