/*
    COLOURS:
    Sidebar Background: #012030
    Accent 1: #13678a
    Accent 2: #45c4b0
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

* {
  font-family: "Raleway", sans-serif;
  color: #39060f;
  margin: 0;
  padding: 0;
}
body {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*--------------------------------------------------------------
# Header (Logo, Title and Divider)
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 120px;
  transition: all ease-in-out 0.3s;
  z-index: 1;
  transition: all 0.5s;
  border-radius: 20px;
  background-color: #fffde7;
  overflow-y: auto;
  text-align: center;
}

#header .logo {
  font-size: 70px;
  color: #39060f;
  margin-top: 25px;
  margin-bottom: 50px;
}

@media (max-width: 1199px) {
  #header {
    left: -350px;
  }

  #main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Sidebar
    I understand this is a mess
--------------------------------------------------------------*/
.nav-menu {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  color: #39060f;
  padding: 10px 25px;
  margin-bottom: 10px;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
}

.nav-link:hover,
.nav-link.active {
  background: #caebf2;
}

/* .nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #caebf2;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after,
.nav-link.active:after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */

/* .nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  transition: 200ms ease;
  color: #9aeba3;
} */

/* Mobile Navigation */
#mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #012030;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

@media (min-width: 1199px) {
  #mobile-nav-toggle {
    display: none;
    opacity: 0;
  }
}

#mobile-nav-toggle .common {
  position: absolute;
  height: 2px;
  width: 18px;
  background-color: #fff;
  border-radius: 100px;
  transition: 500ms ease;
}

#mobile-nav-toggle .top_line {
  top: 28%;
  left: 50%;
  transform: translate(-50%, 50%);
}

#mobile-nav-toggle .middle_line {
  top: 45%;
  left: 50%;
  transform: translate(-50%, 50%);
}

#mobile-nav-toggle .bottom_line {
  top: 62%;
  left: 50%;
  transform: translate(-50%, 50%);
}

#mobile-nav-toggle #activet {
  left: 11px;
  top: 18px;
  width: 19px;
  transform: rotate(45deg);
}

#mobile-nav-toggle #activem {
  opacity: 0;
  transform: translateX(20px);
}

#mobile-nav-toggle #activeb {
  left: 11px;
  top: 18px;
  width: 19px;
  transform: rotate(-45deg);
}

.mobile-nav-active {
  overflow: hidden;
  transition: opacity 0.1ms ease;
}

.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
# Login Button
--------------------------------------------------------------*/

/* .account-login {
  font-size: 40px;
  text-decoration: none;
  color: #000;
  transition: 100ms;
  background-color: transparent;
  margin-bottom: 50px;
  cursor: pointer;
}

.account-login:hover {
  color: #caebf2;
} */

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: #000;
  font-size: 14px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all ease-in-out 0.6s;
  transition: all 0.5s;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
}

/* @media (max-width: 1199px) {
  #footer {
    display: none;
    /*position: static;
    width: auto;
  }
}*/
